<div class="section_and_items">
  <%= render :partial => 'users/section', :locals => {:section => section} %>
  <div id="<%= section.name%>-item-list">
    <ul class="items">
      <!-- Put Items here -->
    </ul>
  </div>
</div>