<div class="page-container">
  <div class="menu-layout">
    <div class="create-buttons">
      <% if current_user %>
        <%= render :partial => 'partials/section_modals/new_section_modal', :locals => {:@sectionNew => current_user.sections.build} %>
      <% end %>
    </div>
    <section class="menu">
      <div class="sections-list">
        <% @sections.each do |section| %>
          <div class="section_and_items">
            <%= render :partial => 'users/section', :locals => {:section => section} %>
            <div id="<%= section.name%>-item-list">
              <ul class="items">
                <% @items.each do |item| %>
                  <%= render :partial => 'users/item', :locals => {:item => item, :section =>section} %>
                <% end %>
              </ul>
            </div>
          </div>          
        <% end %>
      </div>
    </section>
  </div>
</div>
