<div class="page-container" style="border-style: dashed;">
  
  <%= render :partial => 'partials/section_modals/new_section_modal', :locals => {:@section => current_user.sections.build} %>

  <% @sections.each do |section| %>
    <%= section.name %>
    <%= link_to "Edit", edit_section_path(section)%>
  <% end %>
  
</div>
