$('.modal-close').click();
$(".section_name").val('');
$(".sections-list").prepend('<div id="section-<%= @section.id %>"><%= j (@section.name) %></div>');
$("#section-<%= @section.id %>").hide().fadeIn(1000);

