<section id="banner">
  <div id="banner-overlay">
  <% if user_signed_in? && @user.restaurant.blank? %>
    <div class="message">
      Next step is to fill out the form in <%= link_to "Store Info", new_restaurant_path %>
    </div>
  <% end %>
    <div class="hero">
      <div class="hero-inner">
        <div class="hero-copy">
          <h1 id="title">Menu Factory</h1>
          <p>Design a dynamic menu without the hassle</p>
          <% if !(user_signed_in?) %>
            <div class="registration-partial-container">
              <%= render 'partials/user_session/sign_up_modal' %>
            </div>
            <div class="registration-partial-container">
              <%= render 'partials/user_session/log_in_modal' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>