<%= render 'partials/header' %>
<section id="banner">
  <div id="banner-overlay">
    <div class="hero">
      <div class="hero-inner">
        <div class="hero-copy">
          <h1>Menu Factory</h1>
          <p>Design a dynamic menu without the hassle</p>
        </div>
      </div>
    </div>
  </div>
</section>