<% provide(:title, "Design") %>
<h1>Pages#menu</h1>

<% @sections.each do |section| %>
  <%= section.name %>
  <%= link_to("Edit Section", edit_section_path(section)) %>
  <%= link_to("Delete Section",section_path(section), method: :delete, data: { confirm: "Are you sure?"}) %>
<% end %>
