<div class="modal">
  <label for="new-section-modal">
    <div class="modal-trigger">Create New Section</div>
  </label>
  <input class="modal-state" id="new-section-modal" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="new-section-modal"></div>
      <h1>New Section</h1>
      <%= form_for(@sectionNew, remote:true) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control section_name" %>
        <%= f.submit "Create Section" %>
      <% end %>
    </div>
  </div>
</div>
