<div class="store-contact">
  <ul class="social-links">
    <li class="email">
      <%= link_to "http://www." + @restaurant.email do %>
      <i class="fa fa-envelope-o"></i>
      <% end %>
    </li>
    <li class="facebook">
      <%= link_to "http://www." + @restaurant.instagram do %>
      <i class="fa fa-facebook"></i>
      <% end %>
    </li>
    <li class="instagram">
      <%= link_to "http://www." + @restaurant.instagram do %>
      <i class="fa fa-instagram"></i>
      <% end %>
    </li>
    <li class="twitter">
      <%= link_to "http://www." + @restaurant.instagram do %>
      <i class="fa fa-twitter"></i>
      <% end %>
    </li>
  </ul>
</div>