@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700,400);

$theme-color-1: #2B2B2B;
$theme-color-2: #DE1B1B;
$theme-color-3: #F6F6F6;
$theme-color-4: #E9E581;
$theme-color-5: rgb(60, 59, 59);

body{
  margin: 0px;
  height: 2000px;
  color: white;
  background: $theme-color-1;
  font-family: 'Lato', sans-serif;
  a{
    color: $theme-color-4;
    &:hover{
      color: $theme-color-2;
    }
  }
  .clearfix{
    clear: both;
  }
}

.form-container{
  @include outer-container(80%);
  margin-top: 15px;
}

.page-container{
  @include outer-container(80%);
  margin-top: 15px;
  color: $theme-color-5;
}

//Error Messages
$base-spacing: 1.5em !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

@mixin flash($color) {
  background-color: $color;
  color: darken($color, 60%);
  display: block;
 // margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;

  a {
    color: darken($color, 70%);
    margin-left: 10%;
    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}


