$theme-color-1: #69D2E7;
$theme-color-2: #A7DBD8;
$theme-color-3: #F38630;
$theme-color-4: #E0E4CC;
$theme-color-5: #FA6900;

body{
  background: $theme-color-4;
}

.form-container{
  @include outer-container(30%);
  margin-top: 15px;
}

.page-container{
  @include outer-container(80%);
  margin-top: 15px;
  color: $theme-color-3;
}

//Error Messages
$base-spacing: 1.5em !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

@mixin flash($color) {
  background-color: $color;
  color: darken($color, 60%);
  display: block;
 // margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;

  a {
    color: darken($color, 70%);
    margin-left: 10%;
    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}


