footer{
  padding: 10px 10px;
  background-color: #1D1D1D;
  @include span-columns(12);
  .logo{
    @include span-columns(6);
    .footer-logo-image{
      margin-right: 10px;
      display: inline-block;
    }
    .brand-name{
      display: inline-block;
      position: relative;
      top: -10px;
      .brand-first-half{
        @include font-italic();
      }
      .brand-second-half{
        font-family: 'Cantarell', 'sans-serif';
      }
    }
  }
  .footer-links{
    @include span-columns(6);
    position: relative;
    top: 5px;
    text-align: right;
    a{
      display: inline-block;
      color: white;
      margin-right: 20px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}