@media screen and (max-width: 699px) {
  .brand{
    float: left;
  }
  .hamburger{
    float: right;
    margin: 10px 10px 0px 0px;
    position: relative;
    height: 53px;
    width: 53px;
    transition: background .5s;
    border: none;
    border-radius: 100%;
    outline: none;
    span{
      position: absolute;
      top: 25px;
      left: 10px;
      right: 10px;
      height: 2px;
      background: white;
      &::before, &::after{
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        content: "";
      }
      &::before{
        top: -10px;
      }
      &::after{
        bottom: -10px;
      }
    }
  }

.hamburger-x{
  background-color: #FF3264;
  span{
    transition: background 0s .3s;
    &::before, &::after{
      transition-duration: .3s, .3s;
      transition-delay: .3s, 0s;
    }
    &::before{
      transition-property: top, transform;
    }
    &::after{
      transition-property: bottom, transform;
    }
  }
}

.hamburger-is-active{
  background-color: #cb0032;
  span{
    background: none;
    &::before, &::after{
      transition-delay: 0s, .3s;
    }
    &::before{
      top: 0;
      transform: rotate(45deg);
    }
    &::after{
      bottom: 0;
      transform: rotate(-45deg);
    }

  }
}

.nav-menu{
  background-color: #47a3da;
  position: fixed;
  h3{
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0px;
    background-color: #0d77b6;
  }
  a{
    display: block;
    color: #fff;
    font-size: 1.1em;
    &:hover{
      background: #258ecd;
    }
    &:active{
      background: #afdefa;
      color: #47a3da;
    }
  }
}

.nav-menu-vertical{
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  a{
    border-bottom: 1px solid;
    padding: 1em;
  }
}
 
.nav-menu-left{
  transition: left .5s;
  left: -240px;
}

.show{
  left: 0px;
}

  
}


@media screen and (min-width: 700px) {
  .brand{
    float: left;
    font-size: 2em;
  }

  .hamburger{
    display: none;
  }

  nav{
    float: right;
    h3{
      display: none;
    }
    ul{
      background-color: #444;
      li{
        font-size: 1.4em;
        line-height: 50px;
        width: 130px;
        display: inline-block;
        text-align: center;
        a{
          padding-left: 0;
          color: #fff;
          display: block;
          &:hover{
            background-color: #005f5f;
          }
          &:active{
            background-color: #444;
          }
        }
        .lower-nav{
          display: none;
          position: absolute;
          li{
            font-size: .8em;
          }
        }
        &:hover ul{
          display: block;
          &:hover li{
            display: block;
          }
        }
      }
    }
  }
}