.restaurant-info{
  @include span-columns(5);
  border-style: solid;
  height: 100%;
  min-width: 300px;
  max-width: 500px;
  margin: 0% 20% 10% 0%;
  background-color: $theme-light-blue;
  padding: 10px;
  box-shadow: 1px 1px 5px #888888;
  .restaurant-content{
    background-color: white;
    border-style: solid;
    text-align: center;
    .restaurant-name{
      font-size: 120%;
    }
    .restaurant-category{
      font-size: 120%;
    }
    .restaurant-address{
      font-size: 120%;
    }
  }
}