.nonuser-placeholder{
  width: 80%;
  height: 20px;
  background-color: $theme-color-1;
}

.store-header{
  color: #E0E3DA;
  .upper-half{
    @include span-columns(12);
    color: $theme-color-5;
    background-color: $theme-color-3;
    min-height: 200px;
    .store-name{
      color: $theme-color-5;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 35px;
      text-align: center;
      position: relative;
      margin-top: 40px;
      @include media(max-width 700px){
        font-size: 2em;
      }
      @include media(max-width 600px){
        font-size: 1.8em;
      }
    }

  }
  .halves-break{
    @include span-columns(12);
    height: 4px;
    background-color: $theme-color-2;
  }
  //halves animation 
  @include keyframes(break-expand){
    from{
      width: 0%;
      background-color: white;
    }
    to{
      width: 100%;
      background-color: $theme-color-2;
    }
  }

  .halves-break-expand{
    animation-name: break-expand;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }

  .lower-half{
    min-width: 320px;
    @include outer-container(80%);
    background-color: $theme-color-1;
    font-size: 1.3em;
    @include font-heading;
    .store-pic-row{
      margin: 20px 0px;
      @include span-columns(12);
      .store-profile-pic-column{
        @include span-columns(12 of 12);
        .profile-pic{
          background-size: contain;
          background-repeat: no-repeat;
          box-shadow: 2px 2px 3px #1D1D1D;
          background-color: white;
          background-position: center;
          margin: -120px auto 0 auto;
          height: 200px;
          width: 200px;
          border-width: 3px;
          position: relative;
          border-radius: 100%;
          border-style: solid;
          border-color: $theme-color-2;
          z-index: 1;
        }
      }
    }

    .store-info-row{
      position: relative;
      @include span-columns(12);
      .store-address-column{
        @include span-columns(3 of 12);
        position: relative;
        top: -100px;
        .store-address{
          display: inline-block;
          .nonuser-store-address-text{
            color: $theme-color-4;
          }
          .placeholder{
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-style: italic;
            padding: 15px;
            text-align: center;
            font-size: 30px;
            border-radius: 10px;
            background-color: lighten($theme-color-5, 10%);
            color: $theme-color-1;
            &:hover{
              color: $theme-color-4;
            }
          }
        }
        @include media(max-width 1000px){
          @include span-columns(12 of 12);
          top: 0px;
          margin: 10px 0px;
          text-align: center;
        }
      }
      .store-description-column{
        @include span-columns(6 of 12);
        .description{
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          font-style: italic;
          word-wrap: break-word;
          .placeholder{
            margin: 0 auto;
            width: 350px;
            padding: 15px;
            text-align: center;
            font-size: 30px;
            border-radius: 10px;
            background-color: lighten($theme-color-5, 10%);
            color: $theme-color-1;
            &:hover{
              color: $theme-color-4;
            }
          }
        }
        @include media(max-width 1000px){
          @include span-columns(12 of 12);
          text-align: center;
        }
      }
    }
  }
}

.store-contact-row{
  @include span-columns(12 of 12);
  .store-contact-container{
    .contact-links{
      width: 100%;
      margin-top: 20px;
      @include flex-box();
      a{
        text-align: center;
        flex: 1;
        @include box-shadow;
        font-size: 30px;
        border-radius: 3px;
        margin: 0px 3px;
        background-color: $theme-color-5;
      }
    }
    .placeholder{
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-style: italic;
      padding: 15px;
      text-align: center;
      font-size: 30px;
      border-radius: 10px;
      background-color: lighten($theme-color-5, 10%);
      color: $theme-color-1;
      &:hover{
        color: $theme-color-4;
      }
    }
  }
}
/***************** Restaurant Form ********/
.restaurant-form{
  max-width: 700px;
  margin: 0 auto;
  legend{
    margin: 0px;
    padding: 0px 10px;
    font-size: 25px;
  }
  .required-message{
    margin: 10px 5%;
    color: red;
  }
  .field-container{
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 2px solid $theme-color-4;
  }
  .restaurant-info-form-fields{
    @include span-columns(12);
    padding: 10px;
    border-radius: 10px;
    background-color: $theme-color-5;
    @include box-shadow;
  }
  .address-form-fields{
    @include span-columns(12 of 12);
    margin-top: 10px;
    padding: 10px;
    height: 100%;
    border-radius: 10px;
    background-color: $theme-color-5;
    @include box-shadow;
    .street-number-field{
      display: inline-block;
      width: 30%;
    }
    .street-name-field{
      display: inline-block;
      width: 65%;
    }
    .city-field{
      width: 96%;
    }
    .zip-field{
      width: 150px;
    }
  }
  .contact-info-form-fields{
    margin-top: 10px;
    padding: 10px;
    height: 100%;
    @include span-columns(12 of 12);
    border-radius: 10px;
    background-color: $theme-color-5;
    @include box-shadow;
    input, label{
      margin: 10px auto;
      width: 70%;
    }

  }
  .restaurant-form-submit{
    input{
      margin-top: 10px;
      width: 100%;
    }

  }
}


.linkscontainer{
  display: inline-flex;
  width: 100%;
  .linkstoflex{
    height: 50px;
    flex: 1;
    background-color: blue;
    margin: 0px 10px;
  }
}