// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.schedule-column{
  border: 1px solid white; //delete later
  @include span-columns(6 of 12);
  .schedule{
    position: relative;
    width: 250px;
    border: 1px solid white;
    th{
      text-align: center;
    }
    .column1{
      border: 1px solid white;
      width: 30px;
    }
    .column2{
      border: 1px solid white;
      width: 120px;
    }
    td{
      padding: 0px;
      &:nth-child(1){
        text-align: center;
      }
    }
  }
  @include media(max-width 650px){
    @include span-columns(12 of 12);
    top: 0px;
  }
}


.schedule-form{
  text-align: center;
  //@include span-columns(12);
  .day-fields{
    display: inline-table;
    input{
      width: 120px;
    }
  }
  .clear-fix{
    position: relative;
  }
}