.schedule-column{
  @include span-columns(3 of 12);
  .schedule{
    margin: 0px;
    position: relative;
    float: right;
    top: -100px;
    color: $theme-color-4;
    th{
      text-align: center;
      border-bottom: 1px solid #565454;
    }
    .column1{
      width: 30px;
    }
    .column2{
      width: 120px;
    }
    td{
      border-bottom: 1px solid #565454;
      padding: 0px;
      &:nth-child(1){
        text-align: center;
      }
    }
  }
  
  @include media(max-width 1000px){
    @include span-columns(12 of 12);
    .schedule{
      width: 65%;
      margin: 30px auto;
      float: none;
      top: 0px;
      text-align: center;
      .column1{
        width: 10px;
      }
      .column2{
        width: 100px;
      }
    }
  }
  @include media(max-width 600px){
    @include span-columns(12 of 12);
    .schedule{
      width: 90%;
      margin: auto;
      margin: 30px auto;
      float: none;
      top: 0px;
      text-align: center;
      .column1{
        width: 10px;
      }
      .column2{
        width: 100px;
      }
    }
  }
}
/************** Schedule Form ***********/
.schedule-form{//large screens
  clear: both;
  background-color: $theme-color-5;
  border-radius: 10px;
  padding: 10px 20px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5%;
  .schedule-info-button{
    text-align: center;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50px;
    display: inline-block;
    float: right;
    transition: width .1s;
    position: relative;
    &:hover{
      background-color: $theme-color-4;
      color: black;
      cursor: pointer;
    }
  }
  .schedule-info-button-expand{
    background-color: $theme-color-4;
    color: black;
    border-radius: 5px;
    width: 100%;
  }
  table{
    td{
      padding: 0px 5px;
      padding-top: 10px;
    }
    th{
      font-size: 24px;
      padding: 0px;
    }
    .clear-fix{
      position: relative;
    }

  } 
  input{
    width: 100%;
  }   
}

@include media(max-width 470px){//mobile screens
  .schedule-form{
    width: 100%;
    margin: 0 auto;
    table{
      td{
        padding: 0px 5px;
        padding-top: 10px;
      }
      .clear-fix{
        position: relative;
      }
    }    
  }
}

