// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.schedule-column{
  @include span-columns(4 of 12);
  .schedule{
    margin: 0px;
    position: relative;
    width: 250px;
    float: right;
    top: -100px;
    color: $theme-color-4;
    th{
      text-align: center;
    }
    .column1{
      width: 30px;
    }
    .column2{
      width: 120px;
    }
    td{
      padding: 0px;
      &:nth-child(1){
        text-align: center;
      }
    }
  }
  
  @include media(max-width 1000px){
    @include span-columns(12 of 12);
    .schedule{
      width: 45%;
      margin: auto;
      float: none;
      top: 0px;
      text-align: center;
      .column1{
        width: 10px;
      }
      .column2{
        width: 100px;
      }
    }
  }
  @include media(max-width 600px){
    @include span-columns(12 of 12);
    .schedule{
      width: 90%;
      margin: auto;
      float: none;
      top: 0px;
      text-align: center;
      .column1{
        width: 10px;
      }
      .column2{
        width: 100px;
      }
    }
  }
}


.schedule-form{
  text-align: center;
  //@include span-columns(12);
  .day-fields{
    display: inline-table;
    input{
      width: 120px;
    }
  }
  .clear-fix{
    position: relative;
  }
}