.directory-title{
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}
.store-search-form{
  width: 300px;
  position: relative;
  float: right;
  margin-top: 20px;
  #search{
    width: 90%;
    height: 50px;
    padding-left: 80px;
    margin-left: 10px;
  }
  .search-button{
    position: absolute;
    height: 50px;
    top: 0%;
  }
}

.restaurant-list{
  margin: 0 auto;
  margin-top: -20px;
  max-width: 800px;
  li{
    color: $theme-color-3;
    margin: 15px 0px;
    padding: 10px;
    width: 100%;
    border: 1px solid darken(white, 50%);
    border-radius: 5px;
    background-color: $theme-color-5;
    transition: width .7s, height .7s;
    display: flex;
    &:hover{
      border: 1px solid $theme-color-2;
    }
    .restaurant-image{
      //border: 1px solid red;
      display: inline-block;
      img{
        width: 50px;
        height: 50px;
      }
    }
    .restaurant-name{
      flex: 1;
      //border: 1px solid blue;
      margin-left: 20px;
      font-size: 18px;
    }
    .restaurant-address{
      flex: 1;
      margin-left: 20px;
      text-align: left;
      color: darken($theme-color-3, 30%);
    }
  }
}

.pagination{
  text-align: center;
  font-size: 1.2em;
}