$large-width: 450px;
$mobile-width: 230px;
$container-width-large: 500px;
$container-width-mobile: 250px;

@mixin font-italic(){
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin font-heading(){
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
.menu-and-gallery-row{
  @include span-columns(12);
  .menu-column{
    @include span-columns(6 of 12);
    @include media(max-width 750px){
      @include span-columns(12 of 12);
    }
    .menu-create-buttons{
      .modal-trigger{
        border-style: solid;
        color: white;
        width: 200px;
        margin: 10px;
        text-align: center;
        float: right;
        &:hover{
          background: $theme-color-2;
        }
      }
    }

    .menu{
      clear: right;
      .section_and_items{
        @include box-shadow;
        background-color: $theme-color-5;
        border-radius: 5px;
        min-width: $container-width-mobile;
        margin-bottom: 10px;
        padding: 5px 5px 25px 5px;
      }
      .section{
        padding: 10px;
        display: block;
        overflow: auto;
        color: white;
        min-width: $mobile-width;
        margin: 0 auto;
        .section-name{
          @include font-heading;
          font-size: 30px;
          margin-right: 0%;
          float: left;
          color: $theme-color-4;
        }
        .fa{
          font-size: 1em;
        }
        li{
          
          a{
            color: $theme-color-3;
          }

          .delete-section{
            clear: left;
            float: right;
            padding: 5px;
            vertical-align: center;
            border-style: solid;
            &:hover{
              background: $theme-color-2;
            }
          }

          .edit-section{
            float: right;
            margin-right: 10px;
            padding: 5px;
            border-style: solid;
            &:hover{
              background: $theme-color-4;
              color: black;
            }
          }

          .add-item{
            float: right;
            padding: 5px;
            margin-right: 10px;
            border-style: solid;
            &:hover{
              background: $theme-color-4;
              color: black;
            }
          }
        }
      }
    }

    .items{
      padding: 5px 10px;
      min-width: $mobile-width;
      margin: 0 auto;
      
      .item{
        a{
          color: $theme-color-3;
        }
        .item-name{
          @include font-heading;
          color: $theme-color-4;
          display: inline-block;
          font-size: 20px;
          width: 85%;
          &:hover{
            color: $theme-color-2;
            cursor: pointer;
          }
        }
        .item-price{
          color: $theme-color-4;
          text-align: right;
          display: inline-block;
          font-size: 20px;
          width: 13%;
        }
        .clearfix{
          clear: both;
        }
        .item-line-seperator{
          height: 1px;
          border-bottom: 1px solid $theme-color-2;
          margin-bottom: 10px;
        }
        .item-picture{
          float: left;
          margin: 0px;
          width: 15%;
          display: none;
          img{
            border: 1px solid $theme-color-3;
          }

        }
        .item-description{
          @include font-italic;
          float: right;
          font-size: 15px;
          clear: right;
          color: $theme-color-3;
          margin-top: -5px;
          padding-bottom: 10px;
          width: 100%;
        }
        .item-ingredients{
          display: none;
          font-size: 15px;
          @include font-italic();
          float: right;
          width: 100%;
        }
        .edit-item{
          border-style: solid;
          color: white;
          margin: 0px;
          padding: 5px;
          float: right;
          width: 30px;
          text-align: center;
          &:hover{
            background: $theme-color-4;
            color: black;
          }
        }
        .delete-item{
          border-style: solid;
          width: 30px;
          padding: 5px;
          margin-left: 10px;
          float: right;
          text-align: center;
          &:hover{
            background: $theme-color-2;
          }
        }
      }
    }
  }
  .gallery-column{
    @include span-columns(6 of 12);
    @include media(max-width 750px){
      @include span-columns(12 of 12);
    }
    display: inline-block;
    border-radius: 5px;
    @include box-shadow;
    background-color: $theme-color-5;
    float: right;
    .item-image-container{
      @include span-columns(2 of 6);
      .image{
        text-align: center;
        margin: 0px;
        padding: 10px 0px 5px 0px;
        margin: 0px 10px;
        img{
        border: 1px solid $theme-color-4;
        }
      }
    }
  }
}


