<footer>
  <div class="logo">
    <div class="footer-logo-image">
      <%= image_tag 'logo.png' %>
    </div>
    <div class="brand-name">
      <span class="brand-first-half">simply</span><span class="brand-second-half">Eat</span>
    </div>
  </div>
  <div class="footer-links">
    <%= mail_to "jmathew1991@gmail.com" do %>Email<% end %>
    <%= link_to "https://www.linkedin.com/in/jmathew1991" do %>LinkedIn<% end %>
    <%= link_to "http://www.jibinm.me/" do %>Portfolio<% end %>
  </div>
</footer>