<footer>
  <div class="logo">
    <div class="footer-logo-image">
      <%= image_tag 'logo.png' %>
    </div>
    <div class="brand-name">
      <span class="brand-first-half">simply</span><span class="brand-second-half">Eat</span>
    </div>
  </div>
  <div class="footer-links">
    <a href="">Email</a>
    <a href="">LinkedIn</a>
    <a href="">Portfolio</a>
  </div>
</footer>