<header>
  <div class="brand">
    <a href="#">SimplEat</a>
  </div>

  <button class="hamburger hamburger-x">
    <span></span>
  </button>

  <nav class="nav-menu nav-menu-vertical nav-menu-left">
    <ul class="upper-nav">
      <h3>Menu</h3>
      <li><a href="#">Design</a></li>
      <li><a href="#">Store Info</a></li>
      <li><a href="#">Directory</a></li>
      <li><a href="#">User</a>
      <ul class="lower-nav">
        <li><a href="#">Settings</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </li>
  </ul>
</nav>
<span class="clearfix">
</header>